<div data-hook="admin_product_form_fields">

  <div class="row">
    <!---div left -->
    <div class="col-md-8" data-hook="admin_product_form_left">

      <div class="col-md-6" data-hook="admin_product_form_name">
        <%= f.field_container :name, class: ['form-group'] do %>
          <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', class: 'required')) %>
          <%= f.text_field :name, class: 'form-control title' %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>

      <div data-hook="new_product_dish_type" class="col-md-6">
          <%= f.field_container :dish_type do %>
            <%= f.label :dish_type, raw(Spree.t(:dish_type) + content_tag(:span, ' *', class: 'required')) %>
            <%= f.collection_select :dish_type_id, Dish::DishType.all, :id, :name, {:include_blank => false},  {:class => 'select2'} %>
          <% end %>
      </div>

      <div class="col-md-12" data-hook="admin_product_form_description">
        <%= f.field_container :description, class: ['form-group'] do %>
          <%= f.label :description, Spree.t(:description) %>
          <%= f.text_area :description, { rows: "#{unless @product.has_variants? then '5' else '5' end}", class: 'form-control' } %>
          <%= f.error_message_on :description %>
        <% end %>
      </div>

      <div class="col-md-12"  data-hook="admin_product_form_cooking_instruction">
        <%= f.field_container :dish_cooking_instructions, class: ['form-group'] do %>
          <%= f.label :dish_cooking_instructions, Spree.t(:cooking_instructions) %>
          <%= f.text_area :dish_cooking_instructions, { rows: 15, class: 'form-control' } %>
          <%= f.error_message_on :dish_cooking_instructions %>
        <% end %>
      </div>

      <div class="col-md-12" data-hook="admin_product_form_shipping_categories" style="display: none;">
        <%= f.field_container :shipping_categories, class: ['form-group'] do %>
          <%= f.label :shipping_category_id, Spree.t(:shipping_categories) %>
          <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { }, { class: 'select2', disabled: (cannot? :edit, Spree::ShippingCategory) }) %>
          <%= f.error_message_on :shipping_category %>
        <% end %>
      </div> 
    </div><!---enddiv left -->

    <!---div right -->
    <div class="col-md-4" data-hook="admin_product_form_right">
      
      <div data-hook="admin_product_form_price" class="alpha two columns">
        <%= f.field_container :price, class: ['form-group'] do %>
          <%= f.label :price, raw(Spree.t(:price) + content_tag(:span, ' *', class: 'required')) %>
          <%= f.text_field :price, value: number_to_currency(@product.price, unit: ''), class: 'form-control' %>
          <%= f.error_message_on :price %>
        <% end %>
      </div>
      <div id='ingredients' data-hook>
        <%= f.field_container :ingredient_ids, class: ['form-group'] do %>
          <%= f.label :ingredient_ids, Spree.t(:ingredients) %><br>
          <%= f.select :ingredient_ids, Dish::Ingredient.all.map { |p| ["(#{p.name})","(#{p.name})", p.id] }, {}, { multiple: true, class: "select2" } %>
        <% end %>
      </div>

       <div id='nutritions' data-hook>
        <%= f.field_container :nutrition_ids, class: ['form-group'] do %>
          <%= f.label :nutrition_ids, Spree.t(:nutrition) %><br>
          <%= f.select :nutrition_ids, Dish::Nutrition.all.map { |p| ["(#{p.name})","(#{p.name})", p.id] }, {}, { multiple: true, class: "select2" } %>
        <% end %>
      </div>
    </div><!---end div right -->

  </div><!--- end row-->

</div> <!--- end admin_product_form_fields-->

